body {
    background-color: white;
}

#home {
    margin-bottom: 50px;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font_1nq1s74vfvs/iconfont.eot');
    src: url('../font_1nq1s74vfvs/iconfont.eot?#iefix') format('embedded-opentype'), url('../font_1nq1s74vfvs/iconfont.woff2') format('woff2'), url('../font_1nq1s74vfvs/iconfont.woff') format('woff'), url('../font_1nq1s74vfvs/iconfont.ttf') format('truetype'), url('../font_1nq1s74vfvs/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 23px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}